@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@300&family=Saira:ital,wght@0,100..900;1,100..900&family=Slabo+13px&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Estilos globales */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Roboto, sans-serif;
}

:root {
  --color-background: #ffe628;
  --color-text-id: #856b54;
  --color-background-id: #cdcdc8;
  --color-card-header: #cac4c4;
}


    body {
  background-color: var(--color-background);
}

/* Figuras del fondo (mejillas pikachu) */

html::after {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 150px;
  height: 150px;
  content: ""; /* Obligatorio */
  background-color: red;
  border-radius: 50%;
  translate: -50% 50%;
}

html::before {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 150px;
  height: 150px;
  content: ""; /* Obligatorio */
  background-color: red;
  border-radius: 50%;
  translate: 50% 50%;
}

/* Figuras del fondo (orejas pikachu) */

body::after {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100px;
  height: 100px;
  content: "";
  background-color: black;
  rotate: 45deg;
  translate: 50% -50%;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100px;
  height: 100px;
  content: "";
  background-color: black;
  rotate: 45deg;
  translate: -50% -50%;
}

.main-container {
  max-width: 950px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Estilos header (input de búsqueda) */
header {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 1.5rem;
}

header > input {
  width: 100%;
  padding: 1.2rem;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

header > input:focus {
  border-color: #f00; /* Rojo Pokémon */
  box-shadow: 0 4px 12px rgb(255 0 0 / 20%);
}

input::placeholder {
  color: #d6d5cf;
  text-align: center;
}

/* Estilos main (sección pokemon) */

.pokemon-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pokemon-card {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 29.4%);
  transform-style: preserve-3d;
  transition:
    transform 0.5s,
    box-shadow 0.5s ease;
}

.pokemon-card::before {
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: 5;
  width: 300%;
  height: 300%;
  pointer-events: none;
  content: "";

  /* Un degradado lineal que simula el reflejo de la luz */
  background: linear-gradient(
    125deg,
    transparent 0%,
    transparent 25%,
    rgb(255 255 255 / 0%) 45%,
    rgb(255 255 255 / 40%) 50%,
    rgb(255 255 255 / 30%) 55%,
    transparent 75%,
    transparent 100%
  );
  transition: all 0.6s ease;
}

/* Animación al hacer Hover */
.pokemon-card:hover {
  box-shadow: 0 25px 50px rgb(0 0 0 / 30%);

  /* Efecto de inclinación fijo  */
  transform: perspective(1000px) rotateX(10deg) rotateY(-5deg) translateY(-10px);
}

.pokemon-card:hover::before {
  /* Destello de la card */
  top: 0%;
  left: 0%;
}

.pokemon-card__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: var(--color-card-header);
  border-radius: 0.2rem;
}

.pokemon-card__image {
  background-size: cover;
}

.pokemon-card__id {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-text-id);
  background-color: var(--color-background-id);
  border: 1px solid var(--color-card-header);
}

.pokemon-card__body {
  height: 150px;
  padding: 1.5rem;
}

.pokemon-card__name {
  font-size: 1.3rem;
}

.pokemon-card__types {
  display:flex;
  gap: 0.2rem;
  margin-top: 0.3rem;
}

.pokemon-card__evolution {
  padding-left: 0.2rem;
  margin-top: 0.3rem;
  border-left: 3px solid #634e3b;
}

.pokemon-card__body span {
  padding: 0 0.2rem;
  color: var(--color-text-id);
  border: 1px solid;
  border-radius: 0.3rem;
}

.pokemon-card__evolution p {
  color: #797960;
}

.pokemon-card__evolution span {
  padding: 0;
  font-size: 1.3rem;
  color: black;
  border: none;
}
