* {
    box-sizing: border-box;
}

.parrafos-section {
    height: 200px;
    overflow: auto;
    margin-bottom: 2.5rem;
    border: 1px solid;
    padding: 0.5rem;
}

.span-section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.span-section span{
    display: inline-block;
    margin-bottom: 1.2rem;
}

.span-section span:nth-child(3){
    display: inline;
}


/* Caja vacía */
.link-section {
    display: none;
}