.title {
    font-size: 80px;
    text-align: center;
    color: red;
}

.subtitle {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.alert {
    border: 2px solid;
    border-color: red;
    padding: 0.5rem;
    display: inline;
}

strong {
    color:red;
}

