header {
    height: 50vh;
}

.title {
    font-size: 80px;
    text-align: center;
    color: red;
}

.subtitle {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.alert {
    text-align: center;
    border: 3px solid;
    border-color: red;
    padding: 0.5rem;
    width: 70%;
}

strong {
    color:red;
}

